In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from scipy import stats
import statsmodels.api as  sm
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression as LS
from sklearn.metrics import mean_squared_error as mse
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_squared_error

In [2]:
market=pd.read_csv("C:/Users/hp/Documents/MonthWiseMarketArrivals_Clean.csv")

In [3]:
market.head()

,market,month,year,quantity,priceMin,priceMax,priceMod,state,city,date
0,ABOHAR(PB),January,2005,2350,404,493,446,PB,ABOHAR,January-2005
1,ABOHAR(PB),January,2006,900,487,638,563,PB,ABOHAR,January-2006
2,ABOHAR(PB),January,2010,790,1283,1592,1460,PB,ABOHAR,January-2010
3,ABOHAR(PB),January,2011,245,3067,3750,3433,PB,ABOHAR,January-2011
4,ABOHAR(PB),January,2012,1035,523,686,605,PB,ABOHAR,January-2012

In [4]:
market.set_index(["date"], inplace = True,append = True, drop = False)

In [5]:
market.head()

,,market,month,year,quantity,priceMin,priceMax,priceMod,state,city,date
,date,,,,,,,,,,
0,January-2005,ABOHAR(PB),January,2005,2350,404,493,446,PB,ABOHAR,January-2005
1,January-2006,ABOHAR(PB),January,2006,900,487,638,563,PB,ABOHAR,January-2006
2,January-2010,ABOHAR(PB),January,2010,790,1283,1592,1460,PB,ABOHAR,January-2010
3,January-2011,ABOHAR(PB),January,2011,245,3067,3750,3433,PB,ABOHAR,January-2011
4,January-2012,ABOHAR(PB),January,2012,1035,523,686,605,PB,ABOHAR,January-2012

In [6]:
df = pd.DataFrame(market)

In [7]:
print(df)

                         market     month  year  quantity  priceMin  priceMax  \
      date
0     January-2005   ABOHAR(PB)   January  2005      2350       404       493
1     January-2006   ABOHAR(PB)   January  2006       900       487       638
2     January-2010   ABOHAR(PB)   January  2010       790      1283      1592
3     January-2011   ABOHAR(PB)   January  2011       245      3067      3750
4     January-2012   ABOHAR(PB)   January  2012      1035       523       686
...                         ...       ...   ...       ...       ...       ...
10222 December-2011   YEOLA(MS)  December  2011    131326       282       612
10223 December-2012   YEOLA(MS)  December  2012    207066       485      1327
10224 December-2013   YEOLA(MS)  December  2013    215883       472      1427
10225 December-2014   YEOLA(MS)  December  2014    201077       446      1654
10226 December-2015   YEOLA(MS)  December  2015    223315       609      1446

                     priceMod state    city           date
      date
0     January-2005        446    PB  ABOHAR   January-2005
1     January-2006        563    PB  ABOHAR   January-2006
2     January-2010       1460    PB  ABOHAR   January-2010
3     January-2011       3433    PB  ABOHAR   January-2011
4     January-2012        605    PB  ABOHAR   January-2012
...                       ...   ...     ...            ...
10222 December-2011       526    MS   YEOLA  December-2011
10223 December-2012      1136    MS   YEOLA  December-2012
10224 December-2013      1177    MS   YEOLA  December-2013
10225 December-2014      1456    MS   YEOLA  December-2014
10226 December-2015      1126    MS   YEOLA  December-2015

[10227 rows x 10 columns]

In [8]:
df.drop(["market","month","year","priceMin","priceMax","priceMod","state","city"],axis=1)

                        month  quantity           date
      date
0     January-2005    January      2350   January-2005
1     January-2006    January       900   January-2006
2     January-2010    January       790   January-2010
3     January-2011    January       245   January-2011
4     January-2012    January      1035   January-2012
...                       ...       ...            ...
10222 December-2011  December    131326  December-2011
10223 December-2012  December    207066  December-2012
10224 December-2013  December    215883  December-2013
10225 December-2014  December    201077  December-2014
10226 December-2015  December    223315  December-2015

[10227 rows x 3 columns]

In [9]:
np.random.seed(2014)
df = pd.DataFrame({'A':np.random.rand(5)})

In [10]:
print(df)

          A
0  0.185581
1  0.301659
2  0.337738
3  0.990038
4  0.396088

In [11]:
date = pd.date_range('January-2005', 'January-2014')
date = date[date.month.isin([1])].strftime('%m-%d')

In [12]:
print (len(date))

280

In [13]:
market.index = date
print (df.head(10))

ValueError: Length mismatch: Expected axis has 10227 elements, new values have 280 elements